//해당 코드는 jade라는 view engine입니다
//express의 app.get/app.post에서 사용하는 템플릿 엔진입니다.
//웹페이지에서 소스를 보면 html형식으로 코드가 변합니다
//아래의 코드는 간단하게 만든 예시입니다.
html
  head
    meta(charset='utf-8')
  body
    h1 select 
    form(action='/views/select method='post')
      p id: input(type='text' name='id')
      p pw: input(type='password' name='pw')